article{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 10px;
}

img{
  height: 300px;
  width: 200px;
  object-fit: cover;
}
body{
  background-color: #DEE1E5;
}
h1{
  border: 5px solid;
  border-color: black;
  text-align: center;
  color: red;
  background-color: white;
  margin-left: 5px;
}
h2{
  color: red;
  margin-left: 5px;
}
@media screen and (max-width: 1000px) {
  body {
    background: black;
  }
  h1{
    border-color: white;
    background-color: black;
  }
